@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins:wght@300&display=swap");

.cs-h3-header {
  font-family: "Faldi Regular", sans-serif; 
  line-height: 22.52px;
  margin-left: 0.2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.cs-header {
  padding-top: 1.5rem;
}

.cs-hr {
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  width: 97.5%;
}

.hr-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
