.error-cs {
  color: #cd3232 !important;
  font-weight: bold;
  margin-top: -15px;
}

.error-input{
  background-color: #D9D9D9;
  border-color: #6A0B0B;
  border-radius: 0;
}

.cs-row {
  background-color: #e0bbbb33;
  border-radius: 0;
  border-color: black;
  border-radius: 2px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.cs-card-body {
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 20px;
}

.cs-row-sesion{
  padding-bottom: 10px;
  font-weight: 700 !important;
}

.cs-input{
  background-color: #D9D9D9;
  border: 0;
  border-radius: 0;
}

.cs-row-buttons{
  padding-top: 20px;
  padding-bottom: 20px;
}

.cs-sign-button{
  background-color: #5e6ace;
  color: black;
  font-weight: bold;
  border-radius: 0;
  border: 0;
}

.cs-logout-button{
  background-color: #E75D5D;
  color: black;
  border-radius: 0;
  font-weight: bold;
  border: 0;
}
